<footer> 
    <div class="titleFooter">
        <h1>Something</h1>
        <h2>to gift</h2>
    </div>
    <p>Lucrecia Gillone | MindHub-Cohort21 | 2021</p>
    <div class="socialMedia">
        <img src="/assets/instagram.svg" alt="">
        <img src="/assets/facebook.svg" alt=""> 
        <img src="/assets/twitter.svg" alt="">
    </div>
</footer>
</body>
</html>