<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
    <main class="mainForm">
        <form action="/logIn" method="POST">
			<% if (error) { %>
                <h3 class="error"><%= error %></h3>
            <% } %>
			<input type="email" placeholder="Email" name="email" required>
			<input type="password" placeholder="Password" name="password" required>
			<div class="formButton">
				<button>Log In</button>
				<p>You don't have an account ?<a href="/signUp" class="linkForm"> Sign Up</a></p>
			</div>
		</form>
        <div class="photoContainer">
            <img src="https://web-bigbox.storage.googleapis.com/bigbox/img/waving_man.png" alt="">
        </div>
    </main>
<%- include("partials/footer.ejs") %>