<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <main class="mainForm">
        <form action="/signUp" method="POST">
            <% if (error) { %>
                <h3 class="error"><%= error %></h3>
            <% } %>
			<input type="text" placeholder="Name" name="name" required>
			<input type="email" placeholder="Email" name="email" required>
			<input type="password" placeholder="Password" name="password" required>
            <input type="text" placeholder="Image URL" name="url" required> 
                <div class="formButton">
				<button>Sign Up</button>
				<p>Do you already have an account ?<a href="/logIn" class="linkForm"> Log In</a></p>
			</div>
		</form>
        <div class="photoContainer">
            <img src="https://web-bigbox.storage.googleapis.com/bigbox/img/waving_man.png" alt="">
        </div>
    </main>
<%- include("partials/footer.ejs") %>