<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<main class="unauthorized">
    <% if (loggedIn) { %>
        <h2>You're unauthorized to post on this website</h2>
    <% } else { %>
        <h2>You're unauthorized, to see our options log in</h2>
    <% } %>
</main>
<%- include("partials/footer.ejs") %>